html{
    background-color: #212121;
}
h1{
    font-family:Arial, Helvetica, sans-serif;
    color: aliceblue;
    text-align: center;
}

p{
    background-color: whitesmoke;
}
#container{
    width: fit-content;
    margin: auto;
    text-align: center; 
}
#inputField{
    height: 20px;
    width: 250px;
    font-size:large;
    font-family: Arial, Helvetica, sans-serif;
}
#button{
    display: inline-block;
    position: relative;
    height: 23px;
    border: none;
    margin-left:5px ;
    background-color: yellow;
}

#addTodo{
    border: white;
    cursor: pointer;
    width: 250px;
    
    margin-left:  10px auto 0 auto;
    background-color: blanchedalmond;
}

.paragraph-styling{
    margin: 0;
    cursor: pointer;
    font-size: 20px;
}

